<section>
  <div class="jumbotron home-jmb text-center">


        <div class="home-jmb-background"> </div>
        <span>GYmdb</span>

  </div>
  <div>
    <h2>Welcome to George & Yousif movie database!</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2><strong>B</strong>rowse Movies</h2>
      <p>Go to the Browse page to find your favorite movies and discover new ones!</p>
    </div>
    <div class="col-md-4">
      <h2><strong>W</strong>atchlist</h2>
      <p>Keep track of the movies you want to see, whether it is for the first time or the fifth time!</p>
    </div>
    <div class="col-md-4">
      <h2><strong>S</strong>een Movies</h2>
      <p>Keep track of the movies you have seen to be able to brag to your friends about your impressive list!</p>
    </div>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>George and Yousif
</section>
