.align-left {
	float: left;
}

.align-right {
	float: right;
}

.btn-twitter {
	background: #00ACEE;
	border-color: #0075a2;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color: #fff;
}
.btn-twitter:link, .btn-twitter:visited {
	color: #fff;
}
.btn-twitter:active, .btn-twitter:hover {
	background: #0075a2;
	color: #fff;
}

.vertical-align-container {
	line-height: 24px;
	vertical-align: middle;
}
