.comment-textarea {
	border: none;
	color: #555f77;
	display: block;
	font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	padding: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #ced2db;
}

.comment-button {
	float: right;
}

.comment-p {
	line-height: 1.3125rem;
}

.comments {
	margin: 2.5rem auto 0;
	max-width: 60.75rem;
	padding: 0 1.25rem;
}

.comment-wrap {
	display: table;
	margin-bottom: 1.25rem;
	min-height: 5.3125rem;
	width: 100%;
}

.photo {
	display: table-cell;
	padding-top: 0.625rem;
	width: 10rem;
}
.photo .avatar {
	background-size: contain;
	border-radius: 50%;
	height: 5rem;
	margin: 0 auto;
	width: 5rem;
}

.comment-block {
	background-color: #fff;
	border-radius: 0.1875rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	display: table-cell;
	padding: 1rem;
	position: relative;
	vertical-align: top;
}

.comment-block textarea {
	resize: none;
	width: 100%;
}

.comment-text {
	margin-bottom: 1.25rem;
	word-break: break-all;
}

.username {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 10rem;
}


.bottom-comment {
	bottom: 0;
	color: #acb4c2;
	font-size: 1.25rem;
	position: absolute;
	right: 0;
}
