body {
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	min-height: 100%;
	background: #F4F4F4;
}

.mt-1 {
	margin-top: 1%;
}

.mt-2 {
	margin-top: 2%;
}

.mb-2 {
	margin-bottom: 2%;
}

.ml-1 {
	margin-left: 1%;
}

.mr-1 {
	margin-right: 1%;
}

@media (max-width: 991px) {
	[class*="col-"] {
		margin-bottom: 15px;
	}
}

.movie-description-length {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
}

.movie-container {
	background-color: white;
	box-shadow: 4px 4px 10px lightgrey;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.poster-size {
	height: 300px;
	width: 200px;
}

.title-header {
	display: inline-block;
}
.movie-year {
	font-size: x-large;
	color: #646464;
}

.progress-width {
	max-width: 20%;
}

.tagline {
	font-size: medium;
	font-style: italic;
	color: #888888;

}

.btn-circle{
	width: 40px;
	height: 40px;
	font-size: medium;
	padding: 4px;
	border-radius: 25px;
	border: solid;
	border-width: thin;
	background: transparent;
}

.btn-icon-unpressed {
	color: black;
}

.btn-icon-pressed {
	color: #7ab7e0;
}

.btn-unpressed {
	border-color: black;
	box-shadow: 4px 1px 4px lightgrey;
}

.btn-pressed {
	border-color: #7ab7e0;
	background: #e0e0e0;
	box-shadow: 2px 1px 2px lightgrey;
}
