.mt-1 {
	margin-top: 1%;
}

.mt-2 {
	margin-top: 2%;
}

.mb-2 {
	margin-bottom: 2%;
}

.rh-1 {
	display: block;
	height: 300px;
	overflow: hidden;
}

@media (max-width: 991px) {
	[class*="col-"] {
		margin-bottom: 15px;
	}
}

.movie-description-length {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}

.movie-container {
	background-color: lightgrey;

}

.poster-container {
}

.poster-size {
	max-height: 300px;
}

.movie-info-container {
	background-color: lightgrey;

}
