<section>
  <div class="jumbotron row">
    <div class="col-md-3">
      <img class="poster-size"
           ng-src="{{vm.movie.poster_path == null && 'modules/movies/client/img/defaultPoster.jpg' || vm.baseImagePath + vm.movie.poster_path}}">
    </div>
    <div class="col-md-9">
      <h2 class="title-header" ng-bind="vm.movie.title"></h2>
      <span ng-class="{'invisible': vm.movie.release_date == ''}" class="ml-1 movie-year">({{vm.movie.release_date.split('-')[0]}})</span>

      <div class="progress progress-width progress-color">
        <div class="progress-bar " role="progressbar" style="width:{{vm.movie.vote_average*10}}%;">
          {{vm.movie.vote_average}}
        </div>
      </div>
      <p>
        <div ng-class="{'invisible': vm.movie.tagline == ''}" class="tagline">"{{vm.movie.tagline}}"</div>
      </p>
      <p ng-bind="vm.movie.overview"></p>
    </div>
  </div>


  <div class="comments">
    <div class="comment-wrap">
      <div class="photo">
        <div class="avatar" style="background-image: url({{vm.user.profileImageURL}})"></div>
      </div>
      <div class="comment-block">
        <form action="">
          <textarea class="comment-textarea" cols="30" rows="3" placeholder="Add comment..."
          ng-model="vm.commentContent"></textarea>
        </form>
        <button class="btn btn-sm comment-button" ng-click="vm.postComment()">Comment</button>
      </div>
    </div>

    <div id="comment{{$index+1}}" class="comment-wrap" ng-repeat="comment in vm.movie.comments">
      <div class="photo">
        <div class="avatar"
             style="background-image: url({{comment.user.picturePath}})"></div>
        <p class="username">{{comment.user.name}}</p>
      </div>
      <div class="comment-block">
        <p class="comment-text">{{comment.content}}</p>
        <div class="bottom-comment mr-1">#{{$index+1}}</div>
        </div>
      </div>
    </div>


  </div>
</section>
