<section>
  <div class="input-group mt-1">
    <input class="form-control" type="text" ng-enter="vm.doSearch()" placeholder="Search for movie ..."
           ng-model="vm.searchField">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="vm.doSearch()">
          <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>

  <div class="row">

    <div ng-repeat="movie in vm.movies">
      <div class="clearfix" ng-if="$index % 2 == 0"></div>


      <div class="col-md-6 mt-2">
        <div class="media movie-container col-md-12 nopadding ">
          <div class="media-left">
            <img class="poster-size media-object"
                 ng-src="{{movie.poster_path == null && 'modules/movies/client/img/defaultPoster.jpg' || vm.baseImagePath + movie.poster_path}}">
          </div>
          <div class="media-body">
            <div>
              <h4 class="media-heading mb-2 mt-2">{{movie.title}}</h4>
              <h5>Rating: {{movie.vote_average}}</h5>
            </div>
            <div>
              <p class="movie-description-length">{{movie.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
