<div class="vertical-align-container">
  <h4 class="align-left" ng-hide="vm.movies.length">No movies seen by you.</h4>
  <h4 class="align-left" ng-hide="!vm.movies.length">You have seen {{vm.seenMoviesLength}} movies.</h4>
  <button class="align-right btn btn-twitter btn-sm mt-1" ng-hide="!vm.movies.length" onfocus="this.blur()"
          ng-click="vm.postTweet()"
          uib-tooltip="{{(vm.user.provider === 'twitter' || vm.user.additionalProvidersData.twitter) ?
          'Tweet' : 'You need to link your twitter account to post tweets'}}">Tweet Your List</button>
  <div style="clear: both;"></div>
</div>

<div ng-hide="!vm.movies.length" class="row">

  <div ng-repeat="movie in vm.movies">
    <div class="col-md-6 mt-2">
      <div class="media movie-container col-md-12 nopadding ">
        <div class="media-left">
          <img class="poster-size media-object"
               ng-src="{{movie.poster_path == null && 'modules/movies/client/img/defaultPoster.jpg' ||
                 vm.baseImagePath + movie.poster_path}}">
        </div>
        <div class="media-body">
          <div>
            <a ui-sref="movies.details({id: movie.id})">
              <h4 class="media-heading mb-2 mt-2">{{movie.title}}</h4>
            </a>

            <div class="mb-2">
              <button type="button" class="btn btn-default btn-circle mr-1 btn-pressed" onfocus="this.blur();"
                      uib-tooltip="Remove from seen movies"
                      tooltip-placement="right" ng-click="vm.removeFromSeenMovies(movie.id)">
                <span class="glyphicon glyphicon-minus btn-icon-pressed"></span>
              </button>
              <button type="button" class="btn btn-default btn-circle" onfocus="this.blur();"
                      uib-tooltip="{{movie.isOnWatchlist ? 'Remove from watchlist' : 'Add to watchlist'}}"
                      tooltip-placement="right"
                      ng-class="{'btn-pressed': movie.isOnWatchlist,
                           'btn-unpressed': !movie.isOnWatchlist}"
                      ng-click="vm.updateWatchlist(movie.id, movie.isOnWatchlist)">
                <span class="glyphicon glyphicon-bookmark"
                ng-class="{'btn-icon-pressed': movie.isOnWatchlist,
                           'btn-icon-unpressed': !movie.isOnWatchlist}"></span>
              </button>
            </div>

            <h5>Rating: {{movie.vote_average}}</h5>
          </div>
          <div>
            <p class="movie-description-length mr-1">{{movie.overview}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav ng-hide="!vm.movies.length" aria-label="Page navigation">
  <ul class="pager">
    <li>
      <a ng-hide="vm.currentPage == 1" href="" aria-label="Previous" aria-hidden="true"
         ng-click="vm.previousPage()">Previous</a>
    </li>
    <li>
      <a ng-hide="vm.finalPage" href="" aria-label="Next"
         aria-hidden="true" ng-click="vm.nextPage()">Next</a>
    </li>
  </ul>
</nav>

